.NoteCard {
    background-color: #fff;
    width: 350px;
    min-height: 400px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin: 20px;
}

.NoteTitle {
    margin-left: 8px;
    display: inline-block;
}

.NoteTag {
    float: right;
    margin-right: 10px;
    display: inline-block;
    border-bottom: 2px solid slategray;
}