.TagsDisplay {
    display: block;
    width: fit-content;
    height: 60px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 2px solid lightblue;
    padding: 0 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}