@import url('https://fonts.googleapis.com/css2?family=Literata&family=Merriweather&display=swap');

.Textarea {
  scroll-padding-block-start: 10px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  width: 320px;
  resize: vertical;
  min-height: 400px;
  padding: 15px;
  border-radius:15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  position: relative;
  background-color: transparent;
  z-index: 2;
  &::-webkit-scrollbar {
    width: 0px;
  }
  @media (max-width: 350px) {
    width: 280px;
    padding: 5px;
    font-size: 15px;
}
}

.HiglightedBlock {
  top: 37px;
  padding: 15px;
  height: fit-content;
  position: absolute;
  width: 320px;
  font-family: 'Merriweather', serif;
  p {
    color: transparent;
    mark {
      color: yellow;
    }
  }
  @media (max-width: 350px) {
    width: 280px;
    padding: 5px;
    font-size: 15px;
}
}

.textDiv {
  font-family: 'Merriweather', serif;
  width: 320px;
  padding: 15px;
  min-height: 150px;
  overflow: hidden;
  @media (max-width: 350px) {
    width: 280px;
    padding: 5px;
    font-size: 15px;
}
}