@import url('https://fonts.googleapis.com/css2?family=Literata&family=Merriweather&display=swap');

$border-color: #66a5ad;

.Textarea {
  scroll-padding-block-start: 10px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  width: 320px;
  resize: vertical;
  height: 400px;
  padding: 15px;
  border-radius:15px;
  //border: 2px solid $border-color;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  // height:150px;
  position: relative;
  background-color: transparent;
  z-index: 2;
}

.HiglightedBlock {
  top: 37px;
  padding: 15px;
  height: fit-content;
  position: absolute;
  width: 320px;
  font-family: 'Merriweather', serif;
  p {
    color: transparent;
    mark {
      color: yellow;
    }
  }
}

.EditableDiv {
  width:100%;
  height:150px;
  padding: 15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  background-color: rgba(255, 255, 255, 0.9);
}

.textDiv {
  font-family: 'Merriweather', serif;
  //border: 2px solid red;
  width: 320px;
  padding: 15px;
  min-height: 150px;
  overflow: hidden;
}