@import url('https://fonts.googleapis.com/css2?family=Literata&family=Merriweather&display=swap');

$background-color: #66a5ad;
$title-color: #003B46;

.Tag {
    display: inline-block;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    color: $title-color;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0 8px 13px 5px rgba(0, 0, 0, 0.26);
}

.tagName {
    display: inline-block;
    color: $title-color;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}
.SelectedTag {
    display: inline-block;
    width: fit-content;
    height: 32px;
    background-color: $background-color;
    border-radius: 15px;
    padding: 5px;
    color: white;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.26);
}

.button {
    font-weight: 900;
    margin-left: 5px;
    margin-top: 2px;
    text-align: center;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}