.Tag {
    display: inline-block;
    width: 90px;
    height: 30px;
    background-color: lightblue;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.button {
    margin-top: 2px;
    text-align: center;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid white;
}